body {
  font-family: "Poppins", sans-serif;
  background-color: #f5f5f5;
}
.container {
  max-width: 1400px;
  margin: 0 auto;
}
header {
  background-image: linear-gradient(rgb(39, 32, 68, 0.6), rgb(39, 32, 68, 0.6)),
    url("../images/TowerBridge3.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 200px 0 400px;
  max-width: 1400px;
  margin: 0 auto;
  color: white;
  text-align: center;
}
h3 {
  font-weight: 900;
  font-size: 24px;
  letter-spacing: 5px;
}
h1 {
  font-size: 96px;
  font-weight: 700;
  margin: 0 auto;
}
h2 {
  font-size: 40px;
  font-weight: 400;
  margin: 0 auto;
}
.header-learn-more-btn {
  font-size: 14px;
  font-weight: 700;
  padding: 16px 32px;
  background-color: white;
  color: #272044;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-decoration: none;
}
.footer-headers {
  font-size: 20px;
  font-weight: 700;
  color: white;
}

.footer-li a {
  color: white;
}
.footer-paragraph {
  color: white;
  font-size: 16px;
  font-weight: 400;
  opacity: 0.6;
}
footer {
  background-image: linear-gradient(
      rgba(39, 32, 68, 0.9),
      rgba(39, 32, 68, 0.9)
    ),
    url("../images/Photo5.JPG");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  max-width: 1400px;
  margin: 0 auto;
}
.footer-grid {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  grid-gap: 20px;
  padding: 70px;
}
.main-grid-first {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1200px;
  grid-gap: 40px;
}
section {
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px;
  background-color: white;
}
.main-paragraph {
  font-size: 16px;
  font-weight: 400;
  color: #272044;
}
.main-header-first {
  color: #272044;
  font-weight: 700;
  font-size: 40px;
}
